<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="resourceLoader" class="org.springframework.core.io.DefaultResourceLoader" abstract="true"/>

    <bean id="readFileServiceCSV" class="com.otus.services.ReadFileServiceCSVImpl"/>

    <bean id="ioService" class="com.otus.services.IOServiceImpl"/>

    <bean id="applicationManagerImpl" class="com.otus.services.ApplicationManagerImpl">
        <constructor-arg ref="questionManager"/>
        <constructor-arg ref="ioService"/>
    </bean>

    <bean id="readFileContent" class="com.otus.services.CsvQuestionDao">
        <constructor-arg ref="readFileServiceCSV"/>
    </bean>

    <bean id="questionManager" class="com.otus.services.QuestionManagerImpl">
        <constructor-arg ref="readFileContent"/>
    </bean>

</beans>