<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<form method="post" action="/books/createBook" th:object="${newBook}">
    <input type="number" name="bookId", placeholder="Book id">
    <input type="text" name="title", placeholder="Title">
    <input type="number" name="authorId", placeholder="Author id">
    <input type="number" name="genreId", placeholder="Genre id">
    <input type="submit" value="Save">
</form>
</body>

</html>