<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<!--<div th:insert="~{parts/navigation::navigation}"></div>-->
<h1>Login page</h1>
<form method="get" action="/books/all">
    <input name="login" type="text" placeholder="Enter login">
    <input name="password" type="text" placeholder="Enter password">
    <input type="submit" value="Login">
</form>
</body>
</html>